.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: rgb(182,196,35);
background: linear-gradient(40deg, rgba(182,196,35,1) 0%, rgba(41,78,0,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
